@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

// Import Settings
@import "settings/colors";
@import "settings/reset";

// Import Mixins
@import "mixins/clearfix";
@import "mixins/links";

// Import Elements
@import "elements/topic-bar";
@import "elements/images";
@import "elements/line";
@import "elements/time";
@import "elements/sender";
@import "elements/message";
@import "elements/commands";
@import "elements/content";

p {
  margin:0 !important;
  text-indent: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  background: $charcoal;
  font-family: 'Open Sans', 'Lucida Grande';
}
