.content {
  line-height:1.7;
  padding:10px 15px;
  display:table-cell;
  color:#f4f4f4;
  font-size:.9em;
  word-wrap: break-word;
  width:100%;
  border-bottom:1px solid $dark;


  a {
    @include link;
  }

  .inline_nickname {
    font-weight: 400;
    border-bottom:1px solid #fff;
  }
}
