.line {
  @include clearfix;
  display:table;
  margin:1px 0 0 0;
  width: 100%;

  &[highlight=true] {
    border-right:1px solid $positive;
    background: $dark;
    margin: 0;

    & .time {
      color:$positive
    }
  }

}
