.message {
  display:table-row;
  font-weight: 300 !important;
  letter-spacing: .05em;

  // Messages
  &[type=join] {
    .time {
      border-right:1px solid $positive;
    }
    .content {
      color:$lightgrey;
      font-style: italic;
      font-size:.7em;

      &:before {
        font-family: 'FontAwesome';
        content: "\f105";
        padding: 0 5px 0 0;
        color:$positive;
        opacity: 1;
      }
    }
  }

  &[type=quit] {
    .time {
      border-right:1px solid $negative;
    }
    .content {
      color:$lightgrey;
      font-style: italic;
      font-size:.7em;

      &:before {
        font-family: 'FontAwesome';
        content: "\f104";
        padding: 0 5px 0 0;
        color:$negative;
      }
    };
  }

  &[type=topic] .content {
    @extend #topic_bar;
    position: relative;
    opacity: 1;
    border-left:1px solid $charcoal;
  }
}
