.time {
  padding:10px 15px;
  display:table-cell;
  background: $dark;
  line-height:1.7;
  color:lighten($dark, 30);
  font-size:.7em;
  min-width: 100px;
  width: 100px;
  text-align: center;
  font-weight: 400;
}
