@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

#topic_bar, .message[type=topic] .content {
  background: #1F2024;
  padding: 15px;
  color: white;
  font-size: 13px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  opacity: 0;
  /* Set by JavaScript */
  position: absolute; }

#topic_bar a, #topic_bar .message[type=topic] .content, .message[type=topic] #topic_bar .content {
  color: #f4f4f4;
  text-decoration: none;
  border-bottom: 1px solid #AF4A00;
  padding: 0 0 1px 0; }

#topic_bar a:hover, #topic_bar .message[type=topic] .content, .message[type=topic] #topic_bar .content {
  color: #AF4A00; }

.img, .inlineimage {
  box-shadow: 0 1px 5px #22262d;
  display: block;
  max-width: 95%;
  padding: 10px 0 0 0; }

.line {
  display: table;
  margin: 1px 0 0 0;
  width: 100%; }

.line:after {
  content: "";
  display: table;
  clear: both; }

.line[highlight=true] {
  border-right: 1px solid #1CA1AF;
  background: #1F2024;
  margin: 0; }

.line[highlight=true] .time {
  color: #1CA1AF; }

.time {
  padding: 10px 15px;
  display: table-cell;
  background: #1F2024;
  line-height: 1.7;
  color: #666976;
  font-size: 0.7em;
  min-width: 100px;
  width: 100px;
  text-align: center;
  font-weight: 400; }

.sender {
  position: relative;
  padding: 0 15px;
  display: table-cell;
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  overflow: hidden;
  color: #f4f4f4;
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.6;
  border-bottom: 1px solid #1F2024;
  font-weight: 400;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease;
          transition: color 0.2s ease, opacity 0.2s ease; }

.sender[mtype=myself] {
  opacity: 1; }

.sender:hover {
  min-width: 125px;
  width: auto;
  max-width: none;
  text-overflow: ellipsis;
  opacity: 1;
  cursor: pointer; }

.sender--emphasize {
  color: #1CA1AF;
  opacity: 1; }

.message {
  display: table-row;
  font-weight: 300 !important;
  letter-spacing: 0.05em; }

.message[type=join] .time {
  border-right: 1px solid #1CA1AF; }

.message[type=join] .content {
  color: #f4f4f4;
  font-style: italic;
  font-size: 0.7em; }

.message[type=join] .content:before {
  font-family: 'FontAwesome';
  content: "\f105";
  padding: 0 5px 0 0;
  color: #1CA1AF;
  opacity: 1; }

.message[type=quit] .time {
  border-right: 1px solid #AF4A00; }

.message[type=quit] .content {
  color: #f4f4f4;
  font-style: italic;
  font-size: 0.7em; }

.message[type=quit] .content:before {
  font-family: 'FontAwesome';
  content: "\f104";
  padding: 0 5px 0 0;
  color: #AF4A00; }

.message[type=nick] .content {
  font-style: italic; }

.message[type=topic] .content {
  position: relative;
  opacity: 1;
  border-left: 1px solid #252A2E; }

*[command='324'] {
  border-bottom: 1px dotted #1CA1AF;
  padding: 0 0 28px 0;
  margin: 0 0 28px 0; }

*[command='324'] + * {
  border-top: 1px solid #1F2024; }

.content {
  line-height: 1.7;
  padding: 10px 15px;
  display: table-cell;
  color: #f4f4f4;
  font-size: 0.9em;
  word-wrap: break-word;
  width: 100%;
  border-bottom: 1px solid #1F2024; }

.content a {
  color: #f4f4f4;
  text-decoration: none;
  border-bottom: 1px solid #AF4A00;
  padding: 0 0 1px 0; }

.content a:hover {
  color: #AF4A00; }

.content .inline_nickname {
  font-weight: 400;
  cursor: pointer; }

p {
  margin: 0 !important;
  text-indent: 0 !important; }

#loading_screen {
  display: none; }

body {
  margin: 0;
  padding: 0;
  background: #252A2E;
  font-family: 'Lato', 'Open Sans', 'Lucida Grande' !important; }
